@import "~style/common.styl"

.option-with-switch-container
  display flex
  justify-content space-between
  align-items center
  margin-top .214rem
  padding .714rem
  height 55px
  width 100%
  background-color $grey_lightest
  border-radius 3px