@import "~style/common.styl";

.title-container
  position fixed
  top 13%
  left 0
  right 0
  z-index 1
  margin 0 auto
  color #eee
  font-size rem(14)
  text-align center

  .title
    margin 0 auto
    cursor default
    font-weight $bold
    font-style italic
    font-size rem(52)

  .subtitle
    margin auto
    font-size rem(14)
    font-weight $medium

@media (min-width: 768px)
  .title-container
    .title
      font-size rem(100)

    .subtitle
      font-size rem(26)