@import "~style/common.styl"

.px-btn
  display block
  align-self center
  position relative
  //padding 1rem .714rem
  padding .7rem 1.25rem
  width 100%
  color $black
  border-radius 3px
  background-color $white
  box-shadow none
  border none
  transition width .15s ease-in-out, border-radius .15s ease-in-out

  &:focus,
  &:active
    outline none

  &:disabled
    color $grey

  &.px-btn--flex
    display flex

  &.px-btn--purple
    color $white
    background-color $purple_default

    &:disabled
      background-color $purple_light

    > .icon
      color $white

    &.px-btn--inverted
      background-color $white
      box-shadow inset 0 0 0 1px $purple_default
      color $purple_default

      &:disabled
        box-shadow inset 0 0 0 1px $purple_light
        color $purple_light

      > .icon
        color $purple_medium

  &.px-btn--purple-light
    color $white
    background-color $purple_default

    &:disabled
      background-color $purple_medium

    > .icon
      color $white

    &.px-btn--inverted
      background-color $white
      box-shadow inset 0 0 0 1px $purple_light
      color $purple_light

      &:disabled
        box-shadow inset 0 0 0 1px $purple_medium
        color $purple_light

      > .icon
        color $purple_light

  &.px-btn--white
    background-color $white
    color $black

    &.px-btn--inverted
      background-color $black
      color $white

  &.px-btn__fs--small
    font-size .929rem

  &.px-btn__fs--normal
    font-size 1rem

  &.px-btn__fs--big
    font-size 1.2rem

  &.px-btn__fc--black
    color $black !important

  &.px-btn__fc--white
    color $white !important

  &.px-btn__fc--purple
    color $purple_default !important

  &.px-btn__ta--left
    text-align left

  &.px-btn__ta--right
    text-align right

  &.px-btn__ta--center
    text-align center

  &.px-btn--loading
    width 35px
    height 35px
    border-radius 50%

  &.px-btn--transparent
    background-color rgba(255, 255, 255, 0) !important

    &.px-btn--white
      box-shadow inset 0 0 0px 2px $white