@import "~style/common.styl";

.full-page-loader
  position fixed
  display flex
  z-index 20000
  justify-content center
  align-items center
  flex-flow column
  background $off_white
  opacity 1
  will-change opacity
  transition opacity .3s ease-out

  &.loaded
    opacity 0
    pointer-events none

  h3
    font-weight $regular