//.register-modal .content .description
//  .button, .btn
//    position relative
//    margin auto
//    width 100%
//    margin-bottom .357rem
//
//    i
//      position absolute
//      top 1rem
//      left 1.429rem