@import "~style/common.styl"

#app #user-page #party-list-container .party-list
  display flex
  justify-content center
  flex-direction column
  margin-top rem(5)

  &.flex-center
    align-items center

  .no-parties-text
    color $grey
    text-align center