@import "~style/common.styl"

#app #user-page #user-profile #user-profile-top #profile-username-container
  .icon.setting
    flex 1
    text-align right
    color $purple_default
    font-size 1.643rem