.button-group
  position fixed
  bottom 20%
  left 0
  right 0
  z-index 1
  margin 0 auto
  color #eee
  text-align center

  button
    text-transform uppercase !important

  .ui
    &.button
      padding 13px 20px
      font-size 14px

    &.basic.inverted.button
      border 1px solid #fff
      box-shadow none !important

    &.purple.button
      background #7F5F9B