@import "~style/common.styl";

.button-group
  position fixed
  bottom 13%
  left 0
  right 0
  z-index 1
  margin 0 auto
  color #eee
  font-size 1em
  text-align center
  h3
    font-size 1.25rem
    font-weight $regular
    //+for_breakpoint(mobile)
    //  font-size 1.25rem

  button.create-account
      margin-right 10px
