@import "~style/common.styl"

#register-page
  .fullname
    margin-bottom 0
    width 50% !important

  input[type="file"]
    display none

  .custom-file-upload
    display inline-block
    padding 1.5rem 1rem
    width 87px
    height 87px
    border 2px solid $purple_dark
    border-radius 50%
    text-align center
    cursor pointer

  .photo-upload
    margin-bottom 1rem
    text-align center

    .upload
      color $purple_dark

      &.up-icon
        font-size 2rem

        > .icon
          margin 0

      &.up-text
        font-size 1.286rem
        font-weight $demibold