@import "~style/common.styl"

.party-list-item-container
  display flex
  flex-direction row
  margin-top .357rem
  width 100%
  height 55px
  background-color $grey_lightest
  border-radius 3px

  &:active,
  &:focus
    background-color $off_white

  .icon-container
    display flex
    justify-content flex-end
    align-items center
    padding-right .357rem
    width 10%