@import "~style/common.styl"

#app #user-page .party-type-header
  .icon
    margin-right 0
    color $purple_medium

  .icons
    .icon
      &:first-child
        vertical-align middle
      &:last-child
        color $white

  h3
    margin-left .357rem

  .show-all-btn
    vertical-align sub
    float right