@import "~style/common.styl"

.auth-footer
  margin-top 3.571rem
  padding .857rem 0
  border-top 1px solid $grey_light

  .inner
    color $grey
    font-weight $regular
    font-size .857rem
    text-align center