@import "~style/common.styl"

.date-btn,
.time-btn
  justify-content space-between
  align-items center
  padding rem(4) rem(10)
  height 40px

.date-btn
  flex 0 0 64%

  &.date-updated
    animation dateUpdated 1s ease-in-out

.date-btn__inner
  display flex
  flex-direction column
  justify-content center
  align-items flex-start
  line-height rem(15)

.day-text
  display block
  color $black_light
  font-size rem(10)
  font-weight $regular

.date-text
  display block
  color $purple_default
  font-size rem(14)
  font-weight $demibold



@keyframes dateUpdated
  0%, 100%
    background-color $white

  33%
    background-color $purple_light