@import "~style/common.styl"

.party-score-container
  display flex
  justify-content flex-end
  align-items center
  width 20%

  .party-score
    font-size rem(14)
    font-weight $regular
    color $black