@import "~style/common.styl"

.ui.label.input-error,
.input-error
  display block
  margin rem(3.5) 0 rem(14)
  padding rem(11)
  width 100%
  font-size rem(14)
  font-weight $regular
  color $white
  background-color $red_error
  border-radius 3px