@import "~style/common.styl"

.ui.label
  padding .787rem !important
  width 100%
  font-size 1rem !important
  font-weight $demibold !important
  color $white !important
  background-color $red_error !important