@import '~style/common.styl'

.px-icon
  &.px-purple
    color $purple_default

  &.px-purple-light
    color $purple_light

  &.px-purple-medium
    color $purple_medium

  &.px-white
    color $white

  &.px-black
    color $black