@import '~style/common.styl'

.px-icon
  vertical-align middle

  &.px-icon--purple
    color $purple_default

  &.px-icon--purple-light
    color $purple_light

  &.px-icon--purple-medium
    color $purple_medium

  &.px-icon--white
    color $white

  &.px-icon--black
    color $black

  &.px-icon--small
    font-size .929rem

  &.px-icon--normal
    font-size 1rem

  &.px-icon--big
    font-size 1.3rem

  &.px-icon--disabled
    opacity .5