@import '~style/common.styl'

.px-icon
  vertical-align middle

  &.px-icon--purple
    color $purple_default

  &.px-icon--purple-light
    color $purple_light

  &.px-icon--purple-medium
    color $purple_medium

  &.px-icon--white
    color $white

  &.px-icon--black
    color $black

  &.px-icon--grey-medium
    color $grey_medium

  &.px-icon--small
    font-size rem(13)

  &.px-icon--normal
    font-size rem(14)

  &.px-icon--big
    font-size rem(18)

  &.px-icon--disabled
    opacity .5

  &.px-icon--no-spacing
    margin 0