@import "~style/common.styl"

.party-layout
  padding-top rem(50)

  &__inner
    padding rem(15) rem(20)

.party-not-invited-exists
  &__overlay
    display flex
    flex-direction column
    align-items center
    padding-top rem(100)
    height 100%

  &__icon
    margin-bottom rem(30)
    font-size rem(100) !important