@import "~style/common.styl"

.small-login-btn-link
  flex 0 1 32.5%

  .small-login-btn
    padding rem(10)
    width 100%
    color $off_white
    font-weight $regular
    border none
    border-radius 3px
    text-align center
    text-transform capitalize

    +for_breakpoint(sm-mobile)
      padding rem(8)

    span
      +for_breakpoint(sm-mobile)
        display none

    &.facebook
      background-color $fb_blue
    &.twitter
      background-color $tw_blue
    &.google
      background-color $gp_red