@import "~style/common.styl"

a.small-login-btn-link
  flex-grow 1
  min-width 33%

  .small-login-btn
    padding .7rem
    color $off_white
    font-weight $regular
    border-radius 3px
    text-align center
    text-transform capitalize

    +for_breakpoint(sm-mobile)
      padding .6rem

    span
      +for_breakpoint(sm-mobile)
        display none

    &.facebook
      background-color $fb_blue
    &.twitter
      margin 0 .357rem
      background-color $tw_blue
    &.google
      background-color $gp_red