@import "~style/common.styl"

.mini-btn
  display inline-block
  margin-left .357rem
  padding .357rem .714rem
  color $black
  font-size .65rem
  text-transform uppercase
  border-width 1px
  border-style solid
  border-color $black
  border-radius 3px
  background-color transparent
  vertical-align middle
  line-height 1rem
  cursor pointer

  &.purple
    color $purple_default
    border-color $purple_default