.mini-btn
  display inline-block
  margin-left .357rem
  padding .357rem .714rem
  color $black
  font-size .65rem
  text-transform uppercase
  border-width 1px
  border-style solid
  border-color $black
  border-radius 3px
  background $white