@import "~style/common.styl"

$time-select-color = $grey_lightest

.time-btn-container
  flex 0 0 34%

.time-picker
  display flex
  justify-content center
  align-items center
  width 100%
  height 40px
  font-weight $demibold
  box-shadow inset 0 0 0 1px $purple_light
  border-radius 3px
  background-color $white

  &__overlay
    display none
    position fixed
    top 0
    left 0
    width 100vw
    height 1000%
    background-color rgba(0, 0, 0, 0.5)

    &.overlay-visible
      display block
      z-index 10

  .rc-time-picker-input
    padding 0 !important
    color $purple_default !important
    border none !important
    text-align center
    pointer-events none

.rc-time-picker
  &-panel
    top calc(50vh - 100.5px) !important
    left 20px !important
    width calc(100vw - 40px)

    &-clear-btn
      display none

    &-inner
      width 100%
      border-radius 3px 3px 0 0
      border none

    &-wrap
      display flex
      justify-content center
      align-items center
      box-shadow none

    &-input
      text-align center
      font-size rem(28) !important
      padding 0 !important
      color $purple_default
      font-weight $demibold
      pointer-events none

    &-select
      width 50%

      li
        display flex
        justify-content center
        align-items center
        padding 0
        height 30px
        font-size rem(14)
        line-height 30px

        &:hover
          background $white

li.rc-time-picker-panel-select-option-selected
  background $time-select-color !important
  color $purple_dark
  font-weight $bold

  &:hover
    background $time-select-color

.ok-button
  display flex
  align-items center
  justify-content center
  position absolute
  top 100%
  width 100%
  height 40px
  color $white
  font-weight $demibold
  background-color $purple_medium
  border-radius 0 0 3px 3px
  font-size rem(16)

@media (pointer:coarse)
  .rc-time-picker-panel
    .rc-time-picker-panel-select
      max-height 144px
      overflow-y scroll
      -webkit-overflow-scrolling touch

      ul
        max-height initial