@import "~style/common.styl"

.party-banner
  &__container
    display flex
    flex-direction column
    justify-content center
    align-items center
    width 100%
    height 150px
    background-size cover
    background-repeat no-repeat
    background-color $black

  &__code-container
    padding rem(5) rem(10)
    background-color $white

  &__code-text
    color $purple_default
    font-weight $bold
    font-size rem(20)