@import "~style/common.styl"

.party-banner
  &__container
    display flex
    flex-direction column
    justify-content center
    align-items center
    width 100%
    height 150px
    background-size cover
    background-repeat no-repeat
    background-color $black

  &__code
    color $purple_medium
    font-weight $bold
    font-size rem(20)