.login-modal .content .description
  .input, .button
    margin auto
    width 100%

  .input
    margin-bottom .357rem

  .signin-btn
    margin-top .357rem

  .help-login
    margin-top .714rem

  h4
    text-transform uppercase
    text-align center
    margin-top 1rem