.login-modal
  animation-name modal-appear
  animation-duration .4s
  animation-timing-function cubic-bezier(.825, 0, .5, 1)
  animation-iteration-count 1
  animation-direction normal

  .content .description
    .input, .button
      margin auto
      width 100%

    .input
      margin-bottom .357rem

    .signin-btn
      margin-top .357rem

    .help-login
      margin-top .714rem

    h4
      text-transform uppercase
      text-align center
      margin-top 1rem

@keyframes modal-appear
  from
    margin-top -50px
    opacity .1
  to
    opacity 1