.register-modal .content .description
  .button, .btn
    position relative
    margin auto
    width 100%
    margin-bottom .357rem

    i
      position absolute
      top .9rem
      left 1.429rem

  .divider
    margin 2.142rem auto