@import "~style/common.styl"

.header
  display flex
  align-items center
  justify-content center
  margin-bottom rem(10)

  &.header--ta-left
    justify-content flex-start

  &.header--ta-center
    justify-content center

  &.header--ta-right
    justify-content flex-end

  &.header--with-link
    justify-content space-between

  .icon
    margin-right 0
    color $purple_medium

  .icons
    .icon
      &:first-child
        vertical-align middle
      &:last-child
        color $white

  .header-btn
    font-size rem(14)
    vertical-align sub
    float right

.header-text
  display inline-block
  margin 0 0 0 rem(5)
  font-size rem(18)
  font-weight $medium
  vertical-align middle

  &.header-text--fs-small
    font-size rem(15) !important

  &.header-text--fs-regular
    font-size rem(18) !important

  &.header-text--fs-big
    font-size rem(24) !important