@import "~style/common.styl"

#app #user-profile #user-profile-top
  .profile-avatar-container
    width 40px
    height 40px
    border-radius 50%
    background-color $grey_light
    text-align center
    vertical-align middle
    overflow hidden
