@import "./common.styl"
@import "./semantic_override.styl"

@font-face
  font-family 'Avenir Next'
  src url("../assets/fonts/AvenirNext-Regular.ttf") format("truetype")
  font-weight normal
  font-style normal
@font-face
  font-family 'Avenir Next'
  src url("../assets/fonts/AvenirNext-Italic.ttf") format("truetype")
  font-weight normal
  font-style italic
@font-face
  font-family 'Avenir Next'
  src url("../assets/fonts/AvenirNext-Bold.ttf") format("truetype")
  font-weight bold
  font-style normal
@font-face
  font-family 'Avenir Next'
  src url("../assets/fonts/AvenirNext-BoldItalic.ttf") format("truetype")
  font-weight bold
  font-style italic
@font-face
  font-family 'Avenir Next'
  src url("../assets/fonts/AvenirNext-DemiBold.ttf") format("truetype")
  font-weight 600
  font-style normal

*
  font-size 100%
  font-weight $regular
  box-sizing border-box !important

*:not(i)
  font-family 'Avenir Next', Verdana, 'sans-serif' !important

html
  touch-action manipulation

body
  margin 0
  padding 0
  font-size 12px

a
  color $purple_default
  font-weight $medium

i.fa
  margin-right .357rem
  font-size 1.143rem

h4
  font-size 1rem
  font-weight $medium

input
  font-size 1rem !important
  padding .7857rem .7143rem !important

// iOS will zoom in on input fields if font size is not 16px or bigger
select, textarea, input
  font-size 16px !important

#root
  width 100%
  height 100%

.page-fill
  position absolute
  top 0
  left 0
  height 100vh
  width 100%
  overflow hidden

.inner
  padding 5.714rem 1.429rem 0

.small-text
  font-size .714rem
  font-weight $regular
  color $grey

.big-btn
  font-size 1.55rem !important
  padding .7857rem 0 !important

.btn
  padding .92854em 1.25em
  border-radius 3px
  font-size 1rem !important
  color $off_white
  font-weight $demibold !important
  text-transform uppercase !important
  line-height inherit !important
  letter-spacing .02rem

  +for_breakpoint(tablet)
    font-size 1.5rem

  +for_breakpoint(desktop)
    font-size 1.5rem

.btn-basic
  background-color $white

  &.purple
    color $purple_default
    border 1px solid $purple_default

.px-modal
  position fixed
  top 0
  left 0
  animation-name modal-appear
  animation-duration .25s
  animation-timing-function cubic-bezier(.825, 0, .5, 1)
  animation-iteration-count 1
  animation-direction normal

@keyframes modal-appear
  from
    opacity .1
  to
    opacity 1