.ui
  &.button
    padding 13px 20px
    font-size 14px

  &.basic.inverted.button
    border 1px solid #fff
    box-shadow none !important

  &.purple.button
    background $purple_default

    &:hover
      background $purple_dark