@import "./vars.styl"

.ui
  &.button
    padding .92854rem 1.25rem
    font-size 1rem
    border-radius 3px
    color $off_white
    font-weight $demibold !important
    text-transform uppercase !important

    &.facebook
      background-color $fb_blue
    &.twitter
      background-color $tw_blue
    &.google
      color $off_white
      background-color $gp_red
      &:active, &:hover
        background-color #cc181e

  &.basic.inverted.button
    box-shadow 0px 0px 0px 2px #ffffff inset !important

    &:hover
      background-color rgba(255, 255, 255, 0.15) !important

  &.purple
    background $purple_default !important

    &:disabled
      background $purple_light !important

    &:hover
      background $purple_dark !important

  &.input
    border-radius 3px !important

    > input
      color $black !important
      border-radius 3px !important
      border-color $grey_light !important

      + .check.icon
        color $green

      &:focus
        border-color $black !important

      &::placeholder
        color $grey_light

  &.modal
    &.small
      max-width 450px
      margin 0
      transform translateX(-50%)

    > .header
      background-color $grey_lighter
      border-bottom none
      color $black
      font-weight $demibold !important
      font-size 1.2rem !important
      text-align center

    > .content
      padding 1.75rem 1rem 0 !important

      > .description
        padding 0 !important

  &.dimmer
    background-color rgba(0, 0, 0, 0.55)

  // the stroke is an image. Can't just override it with a color.
  &.divider
    font-weight $medium
    font-size .857rem

  &.form
    .field
      margin 1rem 0 0

    .button
      margin 1rem 0 0

  &.label
    margin .357rem 0 0
    white-space normal

  &.loader
    background-color transparent

    &.purple-loader:after
      border-color $purple_default transparent transparent !important

  &.wide.left.sidebar
    width 250px

    &.visible ~ .pusher
      transform translate3d(250px, 0, 0)


@media (min-width 768px)
  .ui.button
    font-size 1.5em

@media only screen and (max-width 767px)
  .ui.modal
    > .header
      padding 1.5rem !important

    > .close
      color $white
      top -2.2rem !important
      right -1rem !important

@media only screen and (max-width 991px)
  .ui.modal > .close
    top -2.5rem
    right -1rem
    color $white