@import "./vars.styl"

.ui
  &.button
    padding .8125rem 1.25rem
    font-size 1rem
    border-radius 3px
    color $off_white
    font-weight $demibold !important
    text-transform uppercase !important

    &.facebook
      background-color $fb_blue
    &.twitter
      background-color $tw_blue
    &.google
      color $off_white
      background-color $gp_red
      &:active, &:hover
        background-color #cc181e

  &.basic.inverted.button
    box-shadow 0px 0px 0px 2px #ffffff inset !important

    &:hover
      background-color rgba(255, 255, 255, 0.15) !important

  &.purple
    background $purple_default !important

    &:disabled
      background $purple_light !important

    &:hover
      background $purple_dark !important

  &.input
    border-radius 3px !important

    > input
      color $black !important
      border-radius 3px !important
      border-color $grey_light !important

      &::placeholder
        color $grey_light

  &.modal > .content
    padding 1rem 1rem 0 !important

    > .description
      padding 1rem 0rem 0rem !important

  // the stroke is an image. Can't just override it with a color.
  &.divider
    font-weight $medium
    font-size .857rem

@media (min-width: 768px)
  .ui
    &.button
      font-size 1.15em