$black          = #1F1F21
$grey_light     = #DADADB
$white          = #ffffff
$off_white      = #eeeeee
$purple_default = #7F5F9B
$purple_dark    = #704A91
$purple_medium  = #A584C1
$purple_light   = #D9CEE3
$green          = #37A557
$red            = #F15D4F

// media button colors
$gp_red         = #CE1312
$fb_blue        = #39579A
$tw_blue        = #059FF5

// font weights
$light    = 300
$regular  = 400
$medium   = 500
$demibold = 600
$bold     = 700

media_queries = {
  mobile  : "only screen and (max-width: 768px)",
  tablet  : "only screen and (min-width: 768px) and (max-width: 991px)",
  sm-desktop : "only screen and (min-width: 992px) and (max-width: 1200px)",
  desktop: "only screen and (min-width: 1200px)",
  landscape: "screen and (orientation:landscape)"
}
