@import "~style/common.styl"

.party-information.ui.form
    .px-textarea
      height 70px

      > textarea:focus
        border-color $black !important

.px-form-input
  &--fluid > .ui.input
    width 100%