@import "~style/common.styl"

#app
  .sidebar-inner
    background-color $white

    .item
      padding 1.5rem 1.143rem
      background-color $white
      border-top 1px solid $grey_light
      color $black
      text-align left

      &::before
        background none

      &:active, &:focus
        background $off_white

      &.item-top
        padding 2rem 1.143rem
        width 100%

        > .item-left
          display inline-block
          width 50%
          height 100%
          text-align left

          .item-text-language
            vertical-align middle
            border-bottom 1px solid $purple_medium
            font-weight $regular

        > .item-right
          display inline-block
          width 50%
          height 100%
          text-align right

        .close
          margin-right 5px

  .pushable-overlay
    position fixed
    left 0
    top 0
    z-index 2134354
    height 100%
    width 100%
    transform translate3d(0, 0, 0)
    background rgba(0, 0, 0, 0)
    pointer-events none
    transition transform 500ms ease, background 500ms ease

#app .ui.wide.left.sidebar
  &.visible ~ .pushable-overlay
    transform translate3d(300px, 0, 0)
    background rgba(0, 0, 0, 0.65)
    pointer-events auto