@import "~style/common.styl"

.page-section
  display flex
  justify-content center
  flex-direction column
  margin-top rem(25)

  .full-width
    width 100%

  &--row
    flex-direction row

  &--spaced
    justify-content space-between