@import "~style/common.styl"

#party-buttons-container
  .party-button-link
    display flex
    flex 1
    max-width 165px

  .party-button
    width 100%

  .create-btn
    margin-right 2.5px

  .join-btn
    margin-left 2.5px