@import "~style/common.styl"

#party-buttons-container
  .party-button-link
    display flex
    flex 1

  .party-button
    padding .7rem 1.25rem
    max-width 165px
    width 100%
    font-size 1.15rem !important

    &:last-child
      margin-right 0

    .icon
      margin 0
      color $white
      opacity 1

    &.join > .icon
      color $purple_default