@import "../../../../style/vars.styl"

.title-container
  position fixed
  top 30%
  left 0
  right 0
  z-index 1
  margin 0 auto
  color #eee
  text-align center

  .title
    margin 0 auto
    cursor default
    font-weight $bold
    font-style italic
    font-size 6.25em

  .subtitle
    margin auto
    font-weight $medium