@import '~style/common.styl'

.party-code-display
  display flex
  justify-content space-between
  align-items center
  margin-top .5rem
  padding .714rem
  height 42px
  background-color #f4f4f4
  border-radius 3px

  .party-code
    font-size 1.429rem

    .party-code-text
      color $purple_default
      font-weight $bold