@import '~style/common.styl'

.party-code-display
  display flex
  justify-content space-between
  align-items center
  margin-top rem(7)
  padding rem(10)
  height 42px
  background-color #f4f4f4
  border-radius 3px

  .party-code
    font-size rem(20)

    .party-code-text
      color $purple_default
      font-weight $bold