@import "~style/common.styl"

.page-fill__container
  position absolute
  top 0
  left 0
  height 100vh
  width 100%
  overflow hidden

  &--flow
    overflow-y scroll
    -webkit-overflow-scrolling touch