@import "~style/common.styl"

#profile-username-container
  display flex
  flex 1
  margin-left .714rem
  padding .714rem 0
  border-bottom 1px solid $grey_light
  vertical-align middle
  overflow hidden

  .username
    flex 1 0 90%
    margin-bottom 0
    text_overflow_ellipsis()