@import "~style/common.styl"

#app #user-page #user-profile #user-profile-top #profile-username-container
  display flex
  flex 1
  margin-left .714rem
  padding .714rem 0
  border-bottom 1px solid $grey_light
  vertical-align middle

  .username
    flex 1 0 auto
    margin-bottom 0