@import "~style/common.styl"

.welcome-page
  background linear-gradient(to bottom left, #7F5F9B, #503C62)

  &__inner
    display flex
    flex-direction column
    align-items center
    margin-top rem(130)
    padding 0 rem(20)
    width 100%
    background-color transparent

  &__portrait-container
    width 95px
    height 95px
    border-radius 50%
    border 2px solid $white
    background-color $purple_light
    background-size cover

  h1
    margin-top rem(10)
    margin-bottom 0
    color $white
    font-size rem(45)
    font-weight $demibold

  h3
    margin 0
    color $white
    font-weight $regular
    font-style italic

  &__get-started-btn
    padding-right 10px
    margin-top rem(125)

  &__get-started-icon
    position absolute
    right 20px
    margin 0