@import "~style/common.styl";

#root .button-group
  position fixed
  bottom 13%
  left 0
  right 0
  z-index 1
  margin 0 auto
  color #eee
  font-size 1em
  text-align center

  h3
    font-size 1.25rem
    font-weight $regular

  .create-account
    margin-right 10px

  #sign-in-btn
    background-color rgba(255, 255, 255, 0) !important;

    &:hover
      background-color rgba(255, 255, 255, 0.25) !important;