@import "~style/common.styl";

.button-group
  position fixed
  bottom 13%
  left 0
  right 0
  z-index 1
  margin 0 auto
  color #eee
  font-size 1em
  text-align center

  h3
    font-size rem(17)
    font-weight $regular

  .create-account-btn
    flex 1 1 60%
    margin-right 10px
    width 200px
    max-width 200px

  .login-btn
    flex 1 1 40%
    max-width 150px

  .button-group-inner
    display flex
    align-items center
    justify-content center
    flex-direction row
    padding 0 rem(42)

@media only screen and (max-width 360px)
  .button-group .button-group-inner
    padding 0 rem(14)