@import "~style/common.styl"

.background-video
  position fixed
  top 50%
  left 50%
  z-index 0
  transform translateX(-50%) translateY(-50%)
  min-width 100%
  min-height 100%
  width auto
  height auto
  overflow hidden

.background-img
  position fixed
  left -50%
  height 100%
  min-width 100%
  width auto

  +for_breakpoint(landscape)
    left 0
